html, body { /*Ingen marginal på body och html*/
    margin: 0 0;
}

body {
    background-color: #595959ff;
}

h1 { /*Huvudtitel på sidan*/
    font-size: 50px;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    color: white;
}

h2 {
    margin-top: 40px; /*Mer luft mellan del-titlarna*/
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    color: white;
}

p { /*Markerar all brödtext på sidan*/
    color: white;
    padding: 5px 10px; /*Får det att se mer luftigt ut*/
    font-family: 'Ubuntu', sans-serif;
}

img { /*Gör så att bilderna inte går hela vägen ut i kanterna*/
    margin: auto;
    width: 90%;
}


/* latin-ext */
@font-face { /*Skapa en ny font från fil för att göra sidan snabbare*/
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../resources/fonts/oxygen_latin_e") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../resources/fonts/oxygen_latin") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}