html, body {
    margin: 0;
    background-color: #595959ff;
}

h1 {
    margin: 0;
    text-align: center;
    padding-top: 5px;
    font-size: 4vw;
    color: white;
    font-family: 'Oxygen', sans-serif;
}

img {
    max-width: 100%;
    height: 100%; /*Sträcker på bilderna lite, men det märks inte*/
    margin: auto;
}