html, body {
    margin: 0;
    background-color: #595959ff;
}

h1 {
    margin: 0;
    text-align: center;
    padding-top: 5px;
    font-size: 4vw;
    color: white;
    font-family: 'Oxygen', sans-serif;
}

img {
    width: 100%;
    margin: auto;
}