html, body {
    margin: 0 0;
}

.mainContainer {
    height: 100vh;
    width: 100vw;

    background-color: black;
    background-image: url("../resources/grianBase7.png"); /*Lägger in bakgrundsbilden i startsidan*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; /*Ser till att den stannar i mitten*/
    background-size: auto 100%; /*Gör så att hela skärmen täcks av bilden*/
}

h1 {
    height: min-content;
    padding: 25px 10px;
    margin: 0 0;
    border: white solid 4px; /*Gör en snygg fyrkant runt titeln*/

    font-size: 70px;
    font-family: 'Oxygen', sans-serif;
    color: white;

    display: flex; /*Gör så att texten är i mitten av fyrkanten*/
    align-content: center;
    justify-content: center;
    text-align: center;

    animation: animationStart 5s linear 1; /*Animerar*/
}

a {
    height: min-content;
    width: 90%;
    padding: 10px 10px;
    margin: auto;

    text-decoration: none;
    color: white;
    background-color: rgba(139,192,237,0.25); /* Gör knapparna lite genomskindliga*/
    font-size: 200%;
    text-align: center;
    font-family: 'Oxygen', sans-serif;

    animation: animationButton 8s linear 1; /*Animerar dessa knappar också*/
}

@keyframes animationStart { /*Animationer för titlen*/
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes animationButton { /*Animation för knapparna*/
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@media only screen and (min-device-aspect-ratio: 700/360) {
    .mainContainer {
        background-size: 100% auto; /*Gör så att bakgrundsbilden alltid täcker hela skärmen
        Byter vilken axel (x, y) som prioriteras att göras så stor som möjligt så att inga svarta kanter kommer runt bilden*/
    }
}

@media only screen and (max-height: 375px) { /*Om skärmen är för liten så blir textstorleken mindre på titlen*/
    h1 {
        padding: 15px 10px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 700px) { /*Om skärmen är för liten så blir textstorleken mindre på titlen*/
    h1 {
        font-size: 40px;
    }
}